[user]
  name = Alexey Terekhov
  email = alexey.terekhov.tap349@gmail.com
  signingkey = ACFDF508F789A2CB

[merge]
  summary = true
  verbosity = 1
  tool = gvimdiff

[mergetool "fugitive"]
  cmd = "mvim -f --nomru -c 'Gvdiff' $MERGED"
  keepBackup = false
  prompt = false

[mergetool "gvimdiff"]
  cmd = "mvim -f --nomru -c 'Gvdiff' $MERGED"
  keepBackup = false
  prompt = false

[diff]
  tool = default-difftool

[difftool]
  prompt = false

[difftool "default-difftool"]
  cmd = mvim -d -f --nomru $LOCAL $REMOTE

[alias]
  amend = commit --amend --no-edit
  d = difftool
  # https://github.com/aanand/git-up
  up = pull --rebase --autostash

[git-up "bundler"]
  check = true

[core]
  autocrlf = input
  editor = mvim -f --nomru
  pager = less -+X -+F

[push]
  default = current

[color]
  ui = true

[credential]
  helper = osxkeychain

[commit]
  gpgsign = true

# https://stackoverflow.com/a/60323360/3632318
# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
