"===============================================================================
"
" https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
"
" Enable key repeat:
" `defaults write com.jetbrains.intellij ApplePressAndHoldEnabled -bool false`
"
"===============================================================================

let mapleader = ','

"-------------------------------------------------------------------------------
" Search
"-------------------------------------------------------------------------------

set hlsearch
set incsearch

"-------------------------------------------------------------------------------
" <C-c>, <C-Backspace> and <C-g>
"-------------------------------------------------------------------------------

nnoremap <silent> <C-g> <C-g>:nohlsearch<Bar>:echo<CR>

inoremap <C-g> <Esc>
vnoremap <C-g> <Esc>
cnoremap <C-g> <Esc>

"-------------------------------------------------------------------------------
" Edit
"-------------------------------------------------------------------------------

" insert newline after current line
nmap <silent> <CR> o<Esc>
" insert newline before current line
nmap <silent> <S-CR> O<Esc>
" insert space
nmap <silent> <Space> i<Space><Esc>l

"-------------------------------------------------------------------------------
" Navigation
"-------------------------------------------------------------------------------

nnoremap H ^
nnoremap L g_

inoremap <C-a> <C-o>I
inoremap <C-b> <Left>
inoremap <C-e> <C-o>A
inoremap <C-f> <Right>

vnoremap H ^
vnoremap L g_

"-------------------------------------------------------------------------------
" Save
"-------------------------------------------------------------------------------

nnoremap <silent> <Tab> :w<CR>

"-------------------------------------------------------------------------------
" Actions
" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
"-------------------------------------------------------------------------------

nnoremap <leader>t :action SelectInProjectView<CR>
nnoremap <leader>n :action GotoFile<CR>
nnoremap <leader>/ :action FindInPath<CR>
